@model MB.Data.Hotel

<form method="post" asp-action="Create">
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Hotel</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Hotel_name"></label>
                        <input asp-for="Hotel_name" class="form-control" />
                        <span asp-validation-for="Hotel_name" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Rating"></label>
                        <input asp-for="Rating" class="form-control" />
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Phone_number"></label>
                        <input asp-for="Phone_number" class="form-control" />
                        <span asp-validation-for="Phone_number" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Number_of_floors"></label>
                        <input asp-for="Number_of_floors" class="form-control" />
                        <span asp-validation-for="Number_of_floors" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Amount_of_apartments"></label>
                        <input asp-for="Amount_of_apartments" class="form-control" />
                        <span asp-validation-for="Amount_of_apartments" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Website"></label>
                        <input asp-for="Website" class="form-control" />
                        <span asp-validation-for="Website" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

